#creambackground {
  background-color: #ffcb8a;
}

#orangebackground {
  background-color: #ff8949;
}

#yellowbackground {
  background-color: #fff3ad;
}

#whitebackground {
  background-color: #fffcef;
}

#tanbrownbackground {
  background-color: #907167;
}

#creamtext {
  color: #ffcb8a;
}

#orangetext {
  color: #ff8949;
}

#yellowtext {
  color: #fff3ad;
}

#whitetext {
  color: #fffcef;
}

#tanbrowntext {
  color: #907167;
}

.navbar {
  display: flex;
  align-content: center;
  justify-content: center;
}

.navbar-menu {
  flex-grow: initial !important;
  flex-shrink: initial !important;
}

a {
  color: black;
}

#navlist {
  list-style-type: none;
  display: inline;
  text-align: center;
}
