#creambackground {
  background-color: #ffcb8a;
}

#orangebackground {
  background-color: #ff8949;
}

#yellowbackground {
  background-color: #fff3ad;
}

#whitebackground {
  background-color: #ffffff;
}

#tanbrownbackground {
  background-color: #907167;
}

#creamtext {
  color: #ffcb8a;
}

#orangetext {
  color: #ff8949;
}

#yellowtext {
  color: #fff3ad;
}

#whitetext {
  color: #fffcef;
}

#tanbrowntext {
  color: #907167;
}

.navbar {
  display: flex;
  align-content: center;
  justify-content: center;
}

.navbar-menu {
  flex-grow: initial !important;
  flex-shrink: initial !important;
}

a {
  color: black;
}

ul.nav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: right;
}

ul.nav li {
  display: inline;
}

ul.nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

ul.nav li a:hover {
  background-color: #907167;
}
